.profileContainer
{
    margin: 0 auto;
    animation: show .5s ease;
    position: relative;
}

.profileContainer .profile
{
    border: 0 none;
    padding: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 0 2px 0 rgba(0, 0, 0, .14);
}

.profileContainer .profileRefresh
{
    position: absolute;
    top: 25px;
    right: 11px;
    background-color: #f44336;
    border: 1px solid #f44336;
    border-radius: 50%;
    z-index: 3;
}

.profileContainer .profileRefresh:enabled:hover
{
    background-color: #e57373;
    border-color: #e57373;
}

.profile .profileRefresh:enabled:focus
{
    box-shadow: none;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
